body{
    
    text-align: center;
    color: rgb(0, 102, 255);;
    font-family: red_hands_2;
}

header{
    background: rgb(0, 102, 255);
    color: whitesmoke;
    padding: 10px;
    width: 100%;
}

@font-face {
    font-family: "red_hands";
    src: url("KGRedHands.ttf");
}

@font-face {
    font-family: "red_hands_2";
    src: url("KGRedHandsOutline\ copy.ttf");
}

.container{
    align-items: center;
    justify-content: center;
    
}
.caja{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 400px;
    border-radius: 50px;
}

.botones{
    display: flex;
    flex-direction: row;
}

.boton-piedra{
    height: 50px;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
    border-radius: 25%;
    text-align: center;
    background-color: white;
    font-family: red_hands_2;
    color: rgb(0, 136, 255);

}

.boton{
    height: 50px;
    width: 100px;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    border-radius: 25%;
    text-align: center;
    background-color: white;
    font-family: red_hands_2;
    color: rgb(0, 136, 255);
}

.icono{
    width: 20px;
    margin-top: 1px;
}

.icono-papel{
    width: 15px;
    margin-top: 1px;
}

.icono-piedra{
    width: 15px;
    margin-top: 1px;
}

.opcion{
    height: 60px;
}

#resultado{
    display: flex;
    justify-content: center;
}

.participante{
    padding: 50px;
}

.icono_{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    padding-bottom: 20px;
}

#ganador-final{
    
    position: relative;
    bottom: 0px;
}